@font-face {
  font-family: norse;
  src: url(./fonts/Norse-Bold.otf);
}

@font-face {
  font-family: poppins;
  src: url(./fonts/Poppins-Medium.ttf);
}

h1 {
  font-family: norse;
  font-size: 65px;
  color: blue;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}

body {
  background-color: black;
  color: white;
  font-family: poppins;
}

#tools-and-grid {
  display: flex;
  justify-content: space-evenly;
}

#grid-container {
    width: 600px;
    height: 600px;
    background-color: white;
    border: 5px grey solid;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.grid-square { 
    border: 1px solid grey;
    cursor: crosshair;
    user-select: none;
}

#tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 50px;
}

#button-grid-size, #multicolor-button, #eraser-button {
  font-family: poppins;
  font-size: 20px;
  padding: 10px 20px;
  border: 2px white solid;
  border-radius: 10px;
  background-color: grey;
  color: white;
}

#button-grid-size:hover, #multicolor-button:hover, #eraser-button:hover {
  background-color: rgb(73, 73, 73);
}


/* style for color input */
input[type='color']{
  box-sizing: border-box;
  appearance: none;
  margin: 0;
  padding: 0;
  background-color: grey;
  width: 100px;
  height: 50px;
  vertical-align: middle;
}

label {
  font-size: 18px;
  font-weight: 800;
  padding-left: 5px;
  color: blue;
}

/* style for size input */
.grid-size-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input[type='range']{
  width: 200px;
}


