h1 {
  font-size: 50px;
  color: blue;
  text-align: center;
}

body {
  background-color: black;
}

#tools-and-grid {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 60px;
}

#grid-container {
    width: 600px;
    height: 600px;
    background-color: whitesmoke;
    border: 5px grey solid;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.grid-square { 
    border: 1px solid grey;
}

#tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#button-grid-size {
  font-size: 18px;
  padding: 10px 20px;
  border: 2px white solid;
  border-radius: 10px;
  background-color: grey;
  color: white;
}

#button-grid-size:hover {
  font-size: 18px;
  padding: 10px 20px;
  border: 2px white solid;
  border-radius: 10px;
  background-color: rgb(73, 73, 73);
  color: white;
}

